.row-fluid.footer
  .span9.main
    This application is being built at github.
    %br
    Thanks for reporting bugs.
    %br
    Thanks for contributing code.

  .span3.footer-sidebar
    This app is licensed under CC

