.row-fluid.footer
  .span7.main
    %p
      This application is being built 
      = link_to "at github.", "https://github.com/matstc/j-impact"
    %p Thanks for reporting bugs.
    %p Thanks for contributing code.

  .span5.footer-sidebar
    %p This app is licensed under CC BY-NC-SA

