.row-fluid.footer.muted
  .span9.main
    %p
      This application is being built 
      = link_to "at github.", "https://github.com/matstc/j-impact"
    %p Thanks for reporting bugs.
    %p Thanks for contributing code.

  .span3
    This app is licensed under
    = link_to "http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US" do
      .label.info CC BY-NC-SA

