.page-header
  %h1 J-Impact

%h2 The Goal
%p The goal of this tool is to:
%ul
  %li track the events that the story affected
  %li provide metrics to evaluate impact
  %li provide metrics to compare effectiveness between stories

%br
%br

%h2 Get Started
%p Go to the 'Stories' tab and add stories to the listing.

%p You can add outlets and link them to your stories.

%p Then add a few events related to each story.

%p Go back to a story's dashboard to visualize the timeline.

