.page-header
  %h1 J-Impact

%p
  This is a tool for journalists that will help them track the impact of their stories. The idea is to incorporate quantitative metrics and more qualitative narratives to make it easier to discuss and compare impact. 
